body {
	font-family: sans-serif;
	font-weight: 800;
}
.switch {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 150px;
	height: 50px;
	text-align: center;
	margin: -30px 0 0 -75px;
	background: #4cd964;
	transition: all 0.2s ease;
	border-radius: 25px;
	span {
		position: absolute;
		width: 20px;
		height: 4px;
		top: 50%;
		left: 50%;
		margin: -2px 0px 0px -4px;
		background: #fff;
		display: block;
		transform: rotate(-45deg);
		transition: all 0.2s ease;
		border-radius: 2px;
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 4px;
			height: 12px;
			margin-top: -8px;
			background: #fff;
			transition: all 0.2s ease;
			border-radius: 2px;
		}
	}
	label {
		cursor: pointer;
		color: rgba(0,0,0,0.2);
		width: 60px;
		line-height: 50px;
		transition: all 0.2s ease;
	}
}
input[type=radio] {
	display: none;
}
label[for=yes] {
	position: absolute;
	left: 0px;
	height: 20px;
}
label[for=no] {
	position: absolute;
	right: 0px;
}
#no {
	&:checked {
		& ~ .switch {
			background: #ff3b30;
			span {
				background: #fff;
				margin-left: -8px;
				&:after {
					background: #fff;
					height: 20px;
					margin-top: -8px;
					margin-left: 8px;
				}
			}
			label[for=no] {
				color: #fff;
			}
		}
	}
}
#yes {
	&:checked {
		& ~ .switch {
			label[for=yes] {
				color: #fff;
			}
		}
	}
}
